@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
* {
--color-2c2c2c: #2C2C2C;
--color-3b1f00: #3B1F00;
--color-064414: #064414;
--color-00000030: #00000030;
--color-111358: #111358;
--color-000bff26: #000BFF26;
--color-1921fa1f: #1921FA1F;
--color-333333: #333333;
--color-1921fa26: #1921FA26;
--color-3e5eff: #3E5EFF;
--color-ffffff54: #FFFFFF54;
--color-303048: #303048;
--color-2e2e46: #2E2E46;
--color-5e5e81: #5E5E81;
--color-212130: #212130;
--color-17171e: #17171E;
--color-bebebe: #BEBEBE;
--color-eeeeee: #EEEEEE;
--color-f1f1ff: #F1F1FF;
--color-eff0ff: #EFF0FF;
--color-f5f5ff: #F5F5FF;
--color-535353: #535353;
--color-989898: #989898;
--color-1921fa38: #1921FA38;
--color-1921fa17: #1921FA17;
--color-e8e8e8: #E8E8E8;
--color-efefef: #EFEFEF;
--color-e8e9ff: #E8E9FF;
--color-d5d6ff: #D5D6FF;
--color-203554: #203554;
--color-f5f5f5: #F5F5F5;
--color-568aff: #568AFF;
--color-b2b5ff: #B2B5FF;
--color-0e15df: #0E15DF;
--color-f3f4ff: #F3F4FF;
--color-f6f6f6: #F6F6F6;
--color-ff4646: #FF4646;
--color-262626: #262626;
--color-000000: #000000;
--color-787878: #787878;
--color-ebebff: #EBEBFF;
--color-ff3d3d: #FF3D3D;
--color-a1a1a1: #A1A1A1;
--color-dcdcdc: #DCDCDC;
--color-4fd66e: #4FD66E;
--color-f2f2f2: #F2F2F2;
--color-46d767: #46D767;
--color-135846: #135846;
--color-a4a4a4: #A4A4A4;
--color-1921fa12: #1921FA12;
--color-1921fa45: #1921FA45;
--color-3cd86024: #3CD86024;
--color-ff8d0e24: #FF8D0E24;
--color-6e6e6e24: #6E6E6E24;
--color-1921fa30: #1921FA30;
--color-dedede: #DEDEDE;
--color-b7b7b7: #B7B7B7;
--color-fb911b: #FB911B;
--color-ff8d0e: #FF8D0E;
--color-3cd860: #3CD860;
--color-c5c5c5: #C5C5C5;
--color-d4d4d4: #D4D4D4;
--color-6e6e6e: #6E6E6E;
--color-cccccc: #CCCCCC;
--color-393939: #393939;
--color-ffffff: #FFFFFF;
--color-f8f8f8: #F8F8F8;
--color-707070: #707070;
};